.grid_containers {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas:
        "nav nav nav nav"
        "sidebar main main main"
        "sidebar content1 content2 content3"
        "sidebar footer footer footer";
    grid-gap: 0.2rem;
    border-radius: 5px;
}
nav {
    background:#9db802 ;
    grid-area: nav;
}
main {
    background:#fd7c84 ;
    grid-area: main;
}
#sidebar {
    background:#025b0e ;
    grid-area: sidebar;
}
#content1 {
    background:#9db802 ;
    grid-area: content1;
}
#content2 {
    background:#cfcdcb ;
    grid-area: content2;
}
#content3 {
    background:#025b0e ;
    grid-area: content3;
}
footer {
    background: #f5b2b3;
    grid-area: footer;
}
@media only screen and (max-width: 550px) {
    .grid_containers {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas:
            "nav"
            "sidebar "
            "main"
            "content1"
            "content2"
            "content3"
            "footer";
    }
}